input {
    margin: 10px;
}

button {
    width: 100px;
}

table {
    thead {
        tr {

            th {
                padding: 10px;
            }
        }
    }
    tbody {
        tr {
           td {
            padding: 10px;
            input {
                margin: 0;
            }
           } 
        }
    }
}

button{
    margin: 10px;
}